<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="console-nav-fragment">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" th:href="@{/}" class="navbar-brand w3-text-teal" data-toggle="tooltip" data-placement="bottom"
                       title="Home">
                        <span class="fa fa-copyright"></span> CORTEX</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBarItem">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navBarItem" class="collapse navbar-collapse">
                    <form class="navbar-form navbar-left">
                        <div class="input-group" style="margin-top: 15px;">
                            <input type="text" class="form-control" placeholder="Search" />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar">
                        <li><a href="#" th:href="@{/community-questions}" style="padding: 28px 20px; margin-top: 1px;">QUESTIONS</a></li>
                        <li><a href="#" th:href="@{/community-users}" style="padding: 28px 20px; margin-top: 1px">USERS</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#" th:href="@{/console-overview}" style="padding: 28px 20px; margin-top: 2px;">CONSOLE</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top: 2px;">
                                <img class="img-circle" src="images/dev1.png" />&nbsp;<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu w3-round">
                                <li><h5>Signed in as</h5></li>
                                <li><h6><strong>Username</strong></h6></li><hr />
                                <li><a href="#">Your profile</a></li>
                                <li><a href="#">Your reputation</a></li><hr />
                                <li><a href="#">Settings</a></li>
                                <li><a href="#" th:href="@{/}">Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>