<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="home-nav-fragment">
        <nav class="navbar navbar-default navbar-fixed-top w3-card-4">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" th:href="@{/}" class="navbar-brand w3-text-teal" data-toggle="tooltip" data-placement="bottom"
                       title="Home">
                        <span class="fa fa-copyright"></span> CORTEX</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBarItem">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navBarItem" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar">
                        <li><a href="#" th:href="@{/use-case}" style="padding: 28px 20px; margin-top: 1px;">USE CASES</a></li>
                        <li><a href="#" th:href="@{/community-questions}"
                               style="padding: 28px 20px; margin-top: 1px">COMMUNITY</a></li>
                        <li><a href="#" th:href="@{/documentation}" style="padding: 28px 20px; margin-top: 1px">DOCUMENTATION</a></li>
                        <li><a href="#" th:href="@{/support}" style="padding: 28px 20px; margin-top: 1px">SUPPORT</a></li>
                        <li><a href="#" th:href="@{/about}" style="padding: 28px 20px; margin-top: 1px">ABOUT</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id="signin" href="#" th:href="@{/console-overview}" style="padding: 28px 20px; margin-top: 2px;">SIGN IN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>