<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Community | Cortex</title>
    <!--/*/ <th:block th:include="fragments/head-fragment :: head-fragment"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="static/styles/community-view-question.css"
          th:href="@{styles/community-view-question.css}"/>
    <link rel="stylesheet" type="text/css" href="static/styles/global.style.css" th:href="@{styles/global.style.css}"/>
</head>
<body>
<!--/*/ <th:block th:include="fragments/console-community-nav-fragment :: console-community-nav-fragment"></th:block> /*/-->

<div class="container">

    <div class="row titleRow">
        <div class="col-sm-10"> <!-- title of question -->
            <h2 th:text="${question.body}"></h2>
        </div>
        <div class="col-sm-2">
            <a id="askQuestionBtn" href="#" th:href="@{/community-questions-ask-question}" class="btn btn-default">Ask
                Question</a>
        </div>
    </div>
    <hr/>

    <div id="answers">


    </div>

    <div class="container-fluid yourAnswer">
        <h3>Your Answer</h3>

        <form id="myForm">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <textarea id="user_input" class="form-control" rows="5"
                                  placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit..."></textarea>
                    </div>

                    <button id="send" type="submit" class="btn btn-default postAnswer">Post Your Answer</button>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </form>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/scripts-fragment :: scripts-fragment"></th:block> /*/-->
<script type="text/javascript" src="scripts/home-tooltip.js"></script>
<script type="text/javascript" src="scripts/navbar.js"></script>
<script type="text/javascript" src="scripts/community-view-question.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

</body>
</html>