<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Community | Cortex</title>
    <!--/*/ <th:block th:include="fragments/head-fragment :: head-fragment"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="static/styles/community-users.css" th:href="@{styles/community-users.css}" />
    <link rel="stylesheet" type="text/css" href="static/styles/global.style.css" th:href="@{styles/global.style.css}"/>
</head>
<body>
<!--/*/ <th:block th:include="fragments/console-community-nav-fragment :: console-community-nav-fragment"></th:block> /*/-->

<div class="container-fluid">
    <h2>Users</h2>

    <div id="users">
        <div class="form-inline">
            <div class="form-group">
                <label>Find user : </label>
                <input type="text" class="form-control" oninput="w3.filterHTML('#userRow', '#userCol', this.value)" placeholder="Search Username" />
            </div>
        </div>

        <div id="userRow" class="row rowMargin">
            <div id="userCol" class="col-sm-3" th:each="user : ${users}">
                <div class="user">
                    <div class="row">
                        <div class="col-sm-5">
                            <div th:if="${#lists.isEmpty(user.PICTURE_PATH)}">
                                <img th:src="${user.img_url}" class="img-responsive" />
                            </div>

                            <div th:if="${not #lists.isEmpty(user.PICTURE_PATH)}">
                                <img th:src="@{'/get-image/server/' + ${user.email}}" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <a href="#" th:href="@{'/' + ${user.email} + '-profile'}" th:text="${user.username}"></a>
                            <p class="reputationTooltip"><span data-toggle="tooltip" data-placement="bottom" title="Reputation score" th:text="${user.reputationScore}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/scripts-fragment :: scripts-fragment"></th:block> /*/-->
<script type="text/javascript" src="scripts/home-tooltip.js"></script>
<script type="text/javascript" src="scripts/navbar.js"></script>
</body>
</html>