<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Community | Cortex</title>
    <!--/*/ <th:block th:include="fragments/head-fragment :: head-fragment"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="static/styles/community-ask-question.css" th:href="@{styles/community-ask-question.css}" />
</head>
<body>
<!--/*/ <th:block th:include="fragments/community-questions-nav-fragment :: community-questions-nav-fragment"></th:block> /*/-->

<div id="sender" th:text="${sender}" style="display: none;"></div>
<div id="questionNumber" th:text="${#lists.size(questions)+1}" style="display: none;"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <form target="/community-questions">
                <div class="form-group">
                    <label>Title :</label>
                    <input type="text" id="title" class="form-control" placeholder="What's your Cortex API question? Be specific." />
                </div>

                <div class="form-group">
                    <label>Content :</label>
                    <textarea class="form-control" id="body" rows="15" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt venenatis orci non porta. In aliquam sapien ac nisi lobortis aliquam..."></textarea>
                </div>

                <button type="submit" id="send" class="btn btn-default">Post Your Question</button>
                <!--<a type="submit" id="send" class="btn btn-default" th:href="@{/community/questions}">Post your question</a>-->
            </form>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/scripts-fragment :: scripts-fragment"></th:block> /*/-->
<script type="text/javascript" src="scripts/home-tooltip.js"></script>
<script type="text/javascript" src="scripts/utils.js"></script>
<script type="text/javascript" src="scripts/community-ask-question.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

</body>
</html>