<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cortex | Console</title>
    <!--/*/ <th:block th:include="fragments/head-fragment :: head-fragment"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="static/styles/console-train.css" th:href="@{styles/console-train.css}" />
</head>
<body>
<!--/*/ <th:block th:include="fragments/console-nav-fragment :: console-nav-fragment"></th:block> /*/-->

<!-- Sidebar -->
<div id="sidebar" class="w3-sidebar w3-bar-block w3-teal w3-collapse w3-animate-left w3-card-4">
    <a href="#" th:href="@{/console-overview}" class="overview w3-bar-item w3-button w3-hover-white">
        <span class="fa fa-home"></span> &nbsp;&nbsp;Overview</a><hr />
    <h5 class="w3-bar-item">Tools</h5>
    <a href="#" th:href="@{/console-classify}" class="classify w3-bar-item w3-button w3-hover-white">
        <span class="fa fa-image"></span> &nbsp;&nbsp;Classify</a>
    <a href="#" th:href="@{/console-train}" class="train w3-bar-item w3-button w3-hover-white w3-white">
        <span class="fa fa-upload"></span> &nbsp;&nbsp;Train</a><hr />
    <h5 class="w3-bar-item">Your classifier</h5>
    <a href="#" th:href="@{/console-classifiers}" class="classifiers w3-bar-item w3-button w3-hover-white">
        <span class="fa fa-archive"></span> &nbsp;&nbsp;Classifiers</a>
</div>

<!-- Page content -->
<div id="pageContent">

    <!-- Overlay -->
    <div id="overlay" class="w3-overlay w3-animate-opacity" onclick="sidebarClose()"></div>

    <!-- Hamburger button -->
    <div class="w3-main">
        <button class="sidebarBtn w3-button w3-hover-teal w3-hide-xlarge w3-hide-large" onclick="sidebarOpen()" >&#9776;</button>
        <h1 class="w3-hide-large">Train</h1>
    </div>

    <div id="con" class="container-fluid">
        <h2>Create new classifier</h2>
        <h4>Train a new classifier using your own images. You may then use this model for classifying images.</h4>

        <div class="panel-group uploadPanel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Class</h2>
                    <h4>Images that belong to the same class must be placed in
                        their respective folder.</h4>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel-group">
                                <div class="panel panel-default panel2">
                                    <div class="panel-heading">
                                        <form><input id="classifiername" type="text" class="form-control" placeholder="Classifier name" /></form>
                                    </div>
                                    <div class="panel-body">
                                        <form method="POST" enctype="multipart/form-data" id="fileUploadForm" style="display: none">
                                            <input id="file1" type="file" name="files" style="display: none"/><br/><br/>
                                            <input type="submit" value="Submit" id="btnSubmit" style="display: none"/>
                                        </form>
                                        <button id="fileChooserBtn" class="w3-hover-pale-blue" type="button">
                                            Drag .zip file here to train class Or choose your file
                                        </button>
                                        <p id="uploadStatus" style=""></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="hideOnLoad" class="col-sm-6" style="display: none;">
                            <div id="trainingCon">
                                <span id="progressBar" class="fa fa-spinner w3-spin"></span>
                                <p id="progressBarMessage"></p>
                                <p id="progressBarStepsCount"></p>
                                <p id="progressBarPercentage"></p>
                                <!--<span id="warning" class="fa fa-warning w3-display-center"></span>
                                <p id="warningMessage">Training cancelled</p>-->
                                <span id="finished" class="fa fa-check"></span>
                                <p id="finishedMessage">Training finished</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer w3-right-align">
                    <!--<button type="button" class="cancelBtn w3-btn w3-ripple w3-round-xxlarge">Cancel</button>
                    <button type="button" class="createBtn w3-btn w3-ripple w3-round-xxlarge">Create</button>-->
                </div>
            </div>
        </div>
    </div>

</div>

<!--/*/ <th:block th:include="fragments/scripts-fragment :: scripts-fragment"></th:block> /*/-->
<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="scripts/sidebar.js"></script>
<script type="text/javascript" src="scripts/utils.js"></script>
<script type="text/javascript" src="scripts/console-train.js"></script>
</body>
</html>