<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cortex | Console</title>
    <!--/*/ <th:block th:include="fragments/head-fragment :: head-fragment"></th:block> /*/-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" type="text/css" href="static/styles/console-overview.css"
          th:href="@{styles/console-overview.css}"/>

    <!--/*/ <th:block th:include="fragments/scripts-fragment :: scripts-fragment"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/security-fragment :: security-fragment"></th:block> /*/-->

</head>
<body>


<!--/*/ <th:block th:include="fragments/console-nav-fragment :: console-nav-fragment"></th:block> /*/-->

<!-- Sidebar -->
<div id="sidebar" class="w3-sidebar w3-bar-block w3-teal w3-collapse w3-animate-left w3-card-4">
    <a href="#" th:href="@{/console-overview}" class="overview w3-bar-item w3-button w3-hover-white w3-white">
        <span class="fa fa-home"></span> &nbsp;&nbsp;Overview</a>
    <hr/>
    <h5 class="w3-bar-item">Tools</h5>
    <a href="#" th:href="@{/console-classify}" class="classify w3-bar-item w3-button w3-hover-white">
        <span class="fa fa-image"></span> &nbsp;&nbsp;Classify</a>
    <a href="#" th:href="@{/console-train}" class="train w3-bar-item w3-button w3-hover-white">
        <span class="fa fa-upload"></span> &nbsp;&nbsp;Train</a>
    <hr/>
    <h5 class="w3-bar-item">Your classifier</h5>
    <a href="#" th:href="@{/console-classifiers}" class="classifiers w3-bar-item w3-button w3-hover-white">
        <span class="fa fa-archive"></span> &nbsp;&nbsp;Classifiers</a>
</div>

<!-- Page content -->
<div id="pageContent">
    <!-- Overlay -->
    <div id="overlay" class="w3-overlay w3-animate-opacity" onclick="sidebarClose()"></div>

    <!-- Hamburger button -->
    <div class="w3-main">
        <button class="sidebarBtn w3-button w3-hover-teal w3-hide-xlarge w3-hide-large" onclick="sidebarOpen()">
            &#9776;
        </button>
        <h1 class="w3-hide-large">Overview</h1>
    </div>


    <div id="con" class="container-fluid">
        <h2>Welcome to Cortex! Get started here.</h2>


        <div class="row">
            <div class="col-sm-3 col-xs-3"></div>
            <div class="col-sm-3 col-xs-3">
                <img id="classifyImage" class="img-responsive" src="images/classify-image.png"/>
                <p>Classify Images</p>
            </div>
            <div class="col-sm-3 col-xs-3">
                <img id="trainImage" class="img-responsive" src="images/train-image.png"/>
                <p>Train Images</p>
            </div>
            <div class="col-sm-3 col-xs-3"></div>
        </div>
    </div>

    <div id="con1" class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <p>Discover Cortex</p>
                <div class="w3-card-4">
                    <img id="classifyImageThumbnail" class="img-responsive" src="images/classify-image-thumbnail.png"/>
                    <div class="w3-container">
                        <h3>Classify</h3>
                        <p>Lorem ipsum dolor sit amet, pri te nemore scribentur, nec ei tempor iuvaret. Vim elit sanctus
                            vocibus in,
                            ei minim labores volumus vel.</p>
                        <a href="#">Learn more</a> <!-- Maps to the documentation -->
                        <form th:action="@{/console-classify}">
                            <button type="submit" class="btn btn-default" th:name="action">GET STARTED</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="w3-card-4">
                    <img id="trainImageThumbnail" class="img-responsive" src="images/train-image-thumbnail.png"/>
                    <div class="w3-container">
                        <h3>Train</h3>
                        <p>In mei malorum tractatos conclusionemque, duis ignota dissentiunt eos no, ad mei erant
                            fierent.
                            Usu ea modus facilis.</p>
                        <a href="#">Learn more</a> <!-- Maps to the documentation -->
                        <form th:action="@{/console-train}">
                            <button type="submit" class="btn btn-default" th:name="action">GET STARTED</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>


<script type="text/javascript" src="scripts/sidebar.js"></script>
<!--<script type="text/javascript" src="scripts/home-tooltip.js"></script>-->


</body>
</html>