<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cortex | Documentation</title>
    <!--/*/ <th:block th:include="fragments/head-fragment :: head-fragment"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="static/styles/documentation.css" th:href="@{styles/documentation.css}" />
</head>
<body data-spy="scroll" th:attr="data-target='#scrollSpy'" data-offset="120">
<nav class="navbar navbar-default navbar-fixed-top w3-card-4">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" th:href="@{/}" class="navbar-brand w3-text-teal" data-toggle="tooltip" data-placement="bottom" title="Home">
                <span class="fa fa-copyright"></span> CORTEX</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBarItem">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navBarItem" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar">
                <li><a href="#" th:href="@{/use-case}" style="padding: 28px 20px; margin-top: 1px;">USE CASES</a></li>
                <li><a href="#" th:href="@{/community-sign-in}" style="padding: 28px 20px; margin-top: 1px">COMMUNITY</a></li>
                <li class="active"><a href="#" th:href="@{/documentation}" style="padding: 28px 20px; margin-top: 1px">DOCUMENTATION</a></li>
                <li><a href="#" th:href="@{/support}" style="padding: 28px 20px; margin-top: 1px">SUPPORT</a></li>
                <li><a href="#" th:href="@{/about}" style="padding: 28px 20px; margin-top: 1px">ABOUT</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/sign-in}" style="padding: 28px 20px; margin-top: 2px;">SIGN IN</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Console -->
<div id="sidebar" class="w3-sidebar w3-bar-block w3-teal w3-collapse w3-animate-right w3-card-4">
    <!-- Close Button -->
    <button class="sidebarBtn w3-button w3-hover-teal"><span class="fa fa-times-circle-o"></span></button><hr />

    <div id="noActionSelected" style="display: block; ">
        <h2>No action selected</h2>
        <p>You can try selecting 'Classify lorem ipsum' from the left column.</p>
    </div>

    <div id="blockquoteSelected" style="display: none;">
        <p id="url"><code>GET</code> http://cortexapi.io/api/lorem_ipsum/etc</p>
        <hr />

        <br />
        <h5>Parameters</h5><hr />
        <div id="params">
            <div class="row">
                <div class="col-sm-4">
                    <h5>lorem ipsum</h5>
                </div>
                <div class="col-sm-5">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>String</h5>
                </div>
            </div><hr class="subHr" />

            <div class="row">
                <div class="col-sm-4">
                    <h5>lorem ipsum</h5>
                </div>
                <div class="col-sm-5">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>String</h5>
                </div>
            </div><hr class="subHr" />

        </div>

        <br />
        <h5>Request</h5><hr />
        <pre id="request"/>

        <br />
        <h5>Response</h5><hr />
        <p>200</p><hr class="subHr" />
        <p>HEADERS</p><hr class="subHr" />
        <p>Content-Type:application.json</p>

        <br />
        <p>BODY</p><hr class="subHr" />
        <pre id="json-result"/>

    </div>
</div>

<div id="pageContent">

    <div id="con" class="container-fluid">
        <div class="row">
            <div id="scrollSpy" class="col-sm-3"> <!-- links -->
                <ul class="nav nav-pills nav-stacked">
                    <li id="introduction"><a href="#" th:attr="href='#introductionContent'">Introduction</a></li>
                    <li id="reference"><a href="#" th:attr="href='#referenceContent'">Reference</a></li>
                    <li id="classify"><a href="#" th:attr="href='#classifyContent'">Classify</a></li>
                    <li><a href="#" th:attr="href='#classify1'">Classify from URL</a></li> <!-- change links (optional) -->
                    <li><a href="#" th:attr="href='#classify2'">Upload and classify</a></li>
                    <li><a href="#" th:attr="href='#classify3'">Retrieve Classifiers</a></li>
                    <li id="train"><a href="#" th:attr="href='#trainContent'">Train</a></li>
                    <li><a href="#" th:attr="href='#train1'">Train a classifier</a></li> <!-- change links (optional) -->
                    <li><a href="#" th:attr="href='#train2'">View training status</a></li>
                    <li><a href="#" th:attr="href='#train3'">View training information</a></li>
                    <li><a href="#" th:attr="href='#train4'">View training logs</a></li>
                    <li><a href="#" th:attr="href='#train5'">Stop training</a></li>
                </ul>
            </div>

            <div class="col-sm-9">
                <h1>Cortex</h1><hr />
                <pre id="test">HELLO TEST</pre>

                <div id="introductionContent">  <!-- introduction -->
                    <h3>INTRODUCTION</h3>

                    <p>Cortex API allows users to perform specific actions using specific requests.</p>
                </div>

                <h3 id="referenceContent">REFERENCE</h3>
                <!-- Classify -->
                <h1 id="classifyContent">Classify</h1><hr />

                <div id="classify1">
                    <h2>Classify an image from URL</h2>     <!-- title -->
                    <blockquote id="classify-from-url"><h3>Classify an image from URL</h3>
                        <span class="fa fa-chevron-right"></span>
                    </blockquote>
                    <p>Classify an image by submitting an image URL in the POST request.</p> <!-- title content -->
                </div>

                <div id="classify2">
                    <h2>Upload and classify image</h2>
                    <blockquote><h3>Upload and classify image</h3>
                        <span class="fa fa-chevron-right"></span>
                    </blockquote>
                    <p>Let users upload an image from their device to classify it.</p>
                </div>

                <div id="classify3">
                    <h2>Retrieve the list of a user's classifiers</h2>
                    <blockquote><h3>Retrieve the list of a user's classifiers</h3>
                        <span class="fa fa-chevron-right"></span>
                    </blockquote>
                    <p>Get a JSON file containing the list of a specific user's classifiers.</p>
                </div>

                <h1 id="trainContent">Train</h1><hr />

                <div id="train1">
                    <h2>Train a classifier</h2>
                    <blockquote><h3>Train a classifier</h3>
                        <span class="fa fa-chevron-right"></span>
                    </blockquote>
                    <p>Train a classifier using images. This may take some time so be patient.</p>
                </div>

                <div id="train2">
                    <h2>View training status</h2>
                    <blockquote><h3>View training status</h3>
                        <span class="fa fa-chevron-right"></span>
                    </blockquote>
                    <p>See the percentage of the training.</p>
                </div>

                <div id="train3">
                    <h2>View training information</h2>
                    <blockquote><h3>View training information</h3>
                        <span class="fa fa-chevron-right"></span>
                    </blockquote>
                    <p>View the details of the training including labels that will be available for the classifier once the training is complete. </p>
                </div>

                <div id="train4">
                    <h2>View training logs</h2>
                    <blockquote><h3>View training logs</h3>
                        <span class="fa fa-chevron-right"></span>
                    </blockquote>
                    <p>See detailed logs of the training process.</p>
                </div>

                <div id="train5">
                    <h2>Stop training</h2>
                    <blockquote><h3>Stop training</h3>
                        <span class="fa fa-chevron-right"></span>
                    </blockquote>
                    <p>Stop the current training process.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<!--/*/ <th:block th:include="fragments/scripts-fragment :: scripts-fragment"></th:block> /*/-->
<script type="text/javascript" src="scripts/home-tooltip.js"></script>
<script type="text/javascript" src="scripts/documentation.js"></script>
</body>
</html>