<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!--/*/ <th:block th:include="fragments/scripts-fragment :: scripts-fragment"></th:block> /*/-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://apis.google.com/js/platform.js"></script>
    <meta name="google-signin-client_id"
          content="36486410372-vl7067jt59p6j46tu712vvi93b91ha0t.apps.googleusercontent.com"/>
    <link rel="stylesheet" type="text/css" href="styles/security-fragment.css"
          th:href="@{styles/security-fragment.css}"/>

</head>

<body>

<div id="wrapper"></div>

<img style="width:100%; height: auto" src="images/forbidden.jpg"/>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="text-align: center">
                <h3 id="title">Please sign in to continue</h3>

                <h4 id="sas"></h4>

                <div id="sb" class="g-signin2" data-onsuccess="onSignIn"

                     data-longtitle="true">button
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="scripts/utils.js"></script>
<script type="text/javascript" src="scripts/sign-in.js"></script>
<script type="text/javascript" src="scripts/forbidden.js"></script>
<link rel="stylesheet" src="styles/forbidden.css"/>

<script>

    $("#myModal").modal();

</script>


</body>

</html>