<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cortex</title>
    <!--/*/ <th:block th:include="fragments/head-fragment :: head-fragment"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="static/styles/index.css" th:href="@{styles/index.css}"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet"/>
    <style type="text/css">

        html {
            font-family: 'Open Sans', sans-serif;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top w3-card-4">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" th:href="@{/}" class="navbar-brand w3-text-teal" data-toggle="tooltip" data-placement="bottom"
               title="Home">
                <span class="fa fa-copyright"></span> CORTEX</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBarItem">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navBarItem" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar">
                <li><a href="#" th:href="@{/use-case}" style="padding: 28px 20px; margin-top: 1px;">USE CASES</a></li>
                <li><a href="#" th:href="@{/community-questions}"
                       style="padding: 28px 20px; margin-top: 1px">COMMUNITY</a></li>
                <li><a href="#" style="padding: 28px 20px; margin-top: 1px">DOCUMENTATION</a></li>
                <li><a href="#" th:href="@{/support}" style="padding: 28px 20px; margin-top: 1px">SUPPORT</a></li>
                <li><a href="#" th:href="@{/about}" style="padding: 28px 20px; margin-top: 1px">ABOUT</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/console-overview}" style="padding: 28px 20px; margin-top: 2px;">SIGN IN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="con" class="container-fluid text-center w3-display-container">
    <!--<img class="img-responsive" src="images/home.jpg" style="width: 100%; height: 600px;"/>-->
    <span class="fa fa-copyright w3-display-middle w3-opacity"></span>
    <h1 class="w3-display-middle">Cortex</h1>
    <h4 class="w3-display-middle">Image classification for your app in a finger snap.</h4>
    <a href="#" th:href="@{/try-it}"
       class="w3-button w3-round tryItBtn endLine w3-hover-teal w3-hover-shadow w3-display-middle">TRY IT</a>
</div>

<div id="con1" class="container-fluid text-center w3-teal">
    <div class="row">
        <div class="col-sm-4">
            <span class="fa fa-image startLine"></span>
            <h2>CLASSIFY ANYTHING</h2>
            <h4>Train a classifier to classify anything from paper bills to different breeds of dogs.</h4>
        </div>
        <div class="col-sm-4">
            <span class="fa fa-image"></span>
            <h2>COMMUNITY BASED</h2>
            <h4>Get help from fellow users and share your trained models.</h4>
        </div>
        <div class="col-sm-4">
            <span class="fa fa-image"></span>
            <h2>CROSS-PLATFORM</h2>
            <h4 class="endLine">Cortex works with Android, IOs, the Web or Desktop apps.</h4>
        </div>
    </div>
</div>

<div id="useCases" class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <h2>Use Case</h2>
            <h4>See how we have already used Cortex.</h4>
            <a href="#" th:href="@{/use-case}">Check the Use Case&nbsp;&nbsp;<span
                    class="fa fa-chevron-right"></span></a>
        </div>
        <div class="col-sm-4">
            <span class="fa fa-file-picture-o w3-hide-medium w3-hide-small"></span>
        </div>
    </div>
</div>

<div id="community" class="container-fluid text-right">
    <div class="row">
        <div class="col-sm-4">
            <span class="fa fa-github w3-hide-medium w3-hide-small"></span>
        </div>
        <div class="col-sm-7">
            <h2>Community</h2>
            <h4>Ask questions or meet developers who use Cortex. Browse existing trained models or share yours!</h4>
            <a href="#"><span class="fa fa-chevron-left">&nbsp;&nbsp;</span>Be part of our Community</a>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

<div id="documentation" class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <h2>Documentation</h2>
            <h4>View step-by-step guides on how to use Cortex. Read it first before using Cortex. </h4>
            <a href="#">Read the Documentation&nbsp;&nbsp;<span class="fa fa-chevron-right"></span></a>
        </div>
        <div class="col-sm-4">
            <span class="fa fa-book w3-hide-medium w3-hide-small"></span>
        </div>
    </div>
</div>

<div id="support" class="container-fluid text-right">
    <div class="row">
        <div class="col-sm-4">
            <span class="material-icons w3-hide-medium w3-hide-small">question_answer</span>
        </div>
        <div class="col-sm-7">
            <h2>Support</h2>
            <h4>Having trouble? Please let us know.</h4>
            <a href="#" th:href="@{/support}"><span class="fa fa-chevron-left">&nbsp;&nbsp;</span>Need help?</a>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <h2>About the Developers</h2>
            <h4>Know the developers behind this project.</h4>
            <a href="#" th:href="@{/about}">Check us out&nbsp;&nbsp;<span class="fa fa-chevron-right"></span></a>
        </div>
        <div class="col-sm-4">
            <span class="fa fa-question-circle w3-hide-medium w3-hide-small"></span>
        </div>
    </div>
</div>

<div id="con2">
    <div class="container text-center">
        <h1><span class="fa fa-copyright"></span> Cortex</h1><br/>
        <h2>Classifying images made easy.</h2><br/>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                <a href="#" th:href="@{/try-it}"
                   class="w3-button w3-round tryItBtn endLine w3-hover-teal w3-hover-shadow">TRY IT</a>
            </div>
            <div class="col-sm-2">
                <a href="#" th:href="@{/sign-in}"
                   class="w3-button w3-round getStartedBtn w3-hover-teal w3-hover-shadow">GET STARTED</a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer-fragment :: footer-fragment"></th:block> /*/-->

<!--/*/ <th:block th:include="fragments/scripts-fragment :: scripts-fragment"></th:block> /*/-->
<script type="text/javascript" src="scripts/home-tooltip.js"></script>
</body>
</html>