<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cortex</title>
    <!--/*/ <th:block th:include="fragments/head-fragment :: head-fragment"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="static/styles/use-case.css" th:href="@{styles/use-case.css}" />
    <link rel="stylesheet" type="text/css" href="static/styles/global.style.css" th:href="@{styles/global.style.css}"/>
</head>
<body>
<!--/*/ <th:block th:include="fragments/home-nav-fragment :: home-nav-fragment"></th:block> /*/-->

<!--<nav class="navbar navbar-default navbar-fixed-top w3-card-4">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" th:href="@{/}" class="navbar-brand w3-text-teal" data-toggle="tooltip" data-placement="bottom" title="Home">
                <span class="fa fa-copyright"></span> CORTEX</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBarItem">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navBarItem" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar">
                <li class="active"><a href="#" th:href="@{/use-case}" style="padding: 28px 20px; margin-top: 1px;">USE CASES</a></li>
                <li><a href="#" th:href="@{/community-questions}" style="padding: 28px 20px; margin-top: 1px">COMMUNITY</a></li>
                <li><a href="#" style="padding: 28px 20px; margin-top: 1px">DOCUMENTATION</a></li>
                <li><a href="#" th:href="@{/support}" style="padding: 28px 20px; margin-top: 1px">SUPPORT</a></li>
                <li><a href="#" th:href="@{/about}" style="padding: 28px 20px; margin-top: 1px">ABOUT</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/sign-in}" style="padding: 28px 20px; margin-top: 2px;">SIGN IN</a></li>
            </ul>
        </div>
    </div>
</nav>-->

<div id="con" class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p>Use Cases</p><br />
            <h2 class="endLine">Here's how we've used Cortex so far.</h2><br />
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div id="con1" class="container bg-black w3-round-xlarge w3-card-4">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">

            <!--Sa tingin ko pre baguhin natin yung use case. Ung simple lang katulad ng sa paper bill classifier. -->
            <!--Para pwede nating gawan ng sample app mismo tapos lagyan ng code sa github. -->

            <h3>Classify the image of your product to know the quality</h3><br />
            <p>An Android app that checks the quality of fruits and lets the user know if it is still fresh or not. </p>
            <p class="endLine">View project in github.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <img class="img-responsive eggplantImg" src="images/eggplant.png" style="height: 200px; width: 200px;" />
            <img class="img-responsive strawberryImg" src="images/strawberry.png" style="height: 150px; width: 150px;" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive appleImg" src="images/apple.png" style="height: 120px; width: 120px;" />
            <img class="img-responsive breadImg" src="images/bread.png" style="height: 180px; width: 180px;" />
        </div>
    </div><hr />

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <h3>Classify the unknown</h3><br />
            <p>Let's say you're afraid of dogs, but you love them. And you saw the dog of your neighbor and you want to know the breed of
            it. With the help of Cortex, you can easily classify breed of dogs with just taking a picture of it. </p>
        </div>
        <div class="col-sm-5">
            <p class="endLine1">When you're done taking picture of the that certain dog that you wanted to classify, the moment
                you send the image to the server the Cortex will instantly classify it and will return results in just a second.</p>
        </div>
        <div class="col-sm-1"></div>
    </div><hr />

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <h3>Know your health in just a minute</h3><br />
            <p>With the help of Cortex, you also can classify if you have a certain disease. Let's say you want to know if you have sore eyes, by using Cortex you can classify if you do have sore eyes or you don't.</p>
            <p class="endLine2">But that's not the limit of Cortex, as long as we do have the data we can classify any diseases. This will be useful, because you don't need to go to the hospital just to know if you have sore eyes, skin disease, etc.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <img class="img-responsive cardiogramImg" src="images/cardiogram.png" style="height: 240px; width: 240px;" />
            <img class="img-responsive magnifyingGlassImg" src="images/magnifying-glass.png" style="height: 130px; width: 130px;" />
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

<div id="con2">
    <div class="container text-center">
        <h1><span class="fa fa-copyright"></span> Cortex</h1><br/>
        <h2>Classifying images made easy.</h2><br/>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                <a href="#" th:href="@{/try-it}" class="w3-button w3-round tryItBtn endLine w3-hover-teal w3-hover-shadow">TRY IT</a>
            </div>
            <div class="col-sm-2">
                <a href="#" th:href="@{/sign-in}" class="w3-button w3-round getStartedBtn w3-hover-teal w3-hover-shadow">GET STARTED</a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer-fragment :: footer-fragment"></th:block> /*/-->

<!--/*/ <th:block th:include="fragments/scripts-fragment :: scripts-fragment"></th:block> /*/-->
<script type="text/javascript" src="scripts/home-tooltip.js"></script>
<script type="text/javascript" src="scripts/navbar.js"></script>
</body>
</html>