<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cortex</title>
    <!--/*/ <th:block th:include="fragments/head-fragment :: head-fragment"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="static/styles/use-case.css" th:href="@{styles/use-case.css}" />
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top w3-card-4">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" th:href="@{/}" class="navbar-brand w3-text-teal" data-toggle="tooltip" data-placement="bottom" title="Home">
                <span class="fa fa-copyright"></span> CORTEX</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBarItem">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navBarItem" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar">
                <li class="active"><a href="#" th:href="@{/use-case}" style="padding: 28px 20px; margin-top: 1px;">USE CASES</a></li>
                <li><a href="#" th:href="@{/community-sign-in}" style="padding: 28px 20px; margin-top: 1px">COMMUNITY</a></li>
                <li><a href="#" style="padding: 28px 20px; margin-top: 1px">DOCUMENTATION</a></li>
                <li><a href="#" th:href="@{/support}" style="padding: 28px 20px; margin-top: 1px">SUPPORT</a></li>
                <li><a href="#" th:href="@{/about}" style="padding: 28px 20px; margin-top: 1px">ABOUT</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/sign-in}" style="padding: 28px 20px; margin-top: 2px;">SIGN IN</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="con" class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p>Use Cases</p><br />
            <h2 class="endLine">Use Cortex to lorem ipsum dolor sit amet, et nec graecis periculis reprehendunt.</h2><br />
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div id="con1" class="container bg-black w3-round-xlarge w3-card-4">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <h3>Classify the image of your product to know the quality</h3><br />
            <p>Lorem ipsum dolor sit amet, tation alterum aliquid ut mea, ne purto option mei. Id aperiam gloriatur deterruisset est, vel numquam appetere te. Exerci commodo argumentum at nam. Eam ut etiam conceptam, mel diceret appareat ad. Sumo debet nonumy eu cum, ut causae mediocrem has. No nulla deserunt mea, ad ius debet laboramus accommodare.</p>
            <p class="endLine">Sit dolorum omnesque an. Minim appellantur sea ea, vitae regione electram eum ea. Nibh atomorum facilisis nam at, doctus viderer intellegam ei nec. Eam in lucilius urbanitas.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <img class="img-responsive eggplantImg" src="images/eggplant.png" style="height: 200px; width: 200px;" />
            <img class="img-responsive strawberryImg" src="images/strawberry.png" style="height: 150px; width: 150px;" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive appleImg" src="images/apple.png" style="height: 120px; width: 120px;" />
            <img class="img-responsive breadImg" src="images/bread.png" style="height: 180px; width: 180px;" />
        </div>
    </div><hr />

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <h3>Classify the unknown</h3><br />
            <p>Let's say you're afraid of dogs, but you love them. And you saw the dog of your neighbor and you want to know the breed of it. Iuvaret facilisi interpretaris ei mei. Justo everti luptatum no eam. Ne ius soluta mediocritatem, his zril nominati deseruisse ut. Pri fabellas pertinacia et, quo sale autem diceret ad, ut diceret molestie est. Euripidis consequat nam an.</p>
        </div>
        <div class="col-sm-5">
            <p class="endLine1">Sea porro liber inermis no, cum accusamus molestiae urbanitas et. Mea et impedit nominati ocurreret, dolorem pertinax mel id. Ut graeci putant quaestio vis, partem inimicus qui at. Ei vix ancillae recusabo accommodare, civibus molestiae laboramus te vix. Noster oportere has ex. No sed homero tractatos vituperatoribus, per suscipit mediocrem ut, ea tritani placerat iracundia nec.</p>
        </div>
        <div class="col-sm-1"></div>
    </div><hr />

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <h3>Know your health in just a minute</h3><br />
            <p>Vis cu facer soleat. An quod petentium conclusionemque ius, in choro eirmod per, an mel putent dissentiunt delicatissimi. Eu commune maluisset est, sit vide docendi no. Eu nusquam adipisci vel. Noluisse quaestio delicatissimi per at, dico nostrum scripserit vix an.</p>
            <p class="endLine2">Malis urbanitas liberavisse eu vix. Id quo delenit maiorum suavitate, et vel gloriatur suscipiantur. Mel malis nobis no, melius recusabo has ne, eu fabellas dissentiet cum. Nec audiam neglegentur ei, audiam oblique scribentur sea te.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <img class="img-responsive cardiogramImg" src="images/cardiogram.png" style="height: 240px; width: 240px;" />
            <img class="img-responsive magnifyingGlassImg" src="images/magnifying-glass.png" style="height: 130px; width: 130px;" />
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

<div id="con2">
    <div class="container text-center">
        <h1><span class="fa fa-copyright"></span> Cortex</h1><br/>
        <h2>Classifying images made easy.</h2><br/>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                <a href="#" th:href="@{/try-it}" class="w3-button w3-round tryItBtn endLine w3-hover-teal w3-hover-shadow">TRY IT</a>
            </div>
            <div class="col-sm-2">
                <a href="#" th:href="@{/sign-in}" class="w3-button w3-round getStartedBtn w3-hover-teal w3-hover-shadow">GET STARTED</a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer-fragment :: footer-fragment"></th:block> /*/-->

<!--/*/ <th:block th:include="fragments/scripts-fragment :: scripts-fragment"></th:block> /*/-->
<script type="text/javascript" src="scripts/home-tooltip.js"></script>
</body>
</html>