<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Settings | Cortex</title>
    <!--/*/ <th:block th:include="fragments/head-fragment :: head-fragment"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="static/styles/user-settings.css" th:href="@{styles/user-settings.css}"/>
</head>
<body>
    <!--/*/ <th:block th:include="fragments/community-questions-nav-fragment :: community-questions-nav-fragment"></th:block> /*/-->

    <div class="container">
        <div class="container">
            <h3>Profile Settings</h3>
            <hr />

            <div class="row">
                <div class="col-sm-9">
                    <form th:object="${user}" th:action="@{/update/profile}" method="post">
                        <div class="form-group">
                            <label id="usernameLbl">Username :</label>
                            <input type="text" id="usernameText" th:field="*{username}" class="form-control" placeholder="Your desired username" />
                        </div>

                        <div class="form-group">
                            <label id="bioLbl">Bio :</label>
                            <textarea class="form-control" id="bioTextArea" th:field="*{bio}" rows="4" placeholder="Tell us a little bit of yourself.."></textarea>
                        </div>

                        <button type="submit" id="updateBtn" class="btn btn-default">Update Profile</button>
                    </form>
                </div>

                <div class="col-sm-3">
                    <h5>Profile picture : </h5>
                    <img src="images/dev1.png" id="PROFILE_PICTURE" class="img-rounded" />
                    <form>
                        <button type="submit" id="uploadBtn" class="btn btn-default">Upload new picture</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!--/*/ <th:block th:include="fragments/scripts-fragment :: scripts-fragment"></th:block> /*/-->
    <script type="text/javascript" src="scripts/home-tooltip.js"></script>
</body>
</html>