<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Settings | Cortex</title>
    <!--/*/ <th:block th:include="fragments/head-fragment :: head-fragment"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="static/styles/user-settings.css" th:href="@{styles/user-settings.css}"/>
    <link rel="stylesheet" type="text/css" href="static/styles/global.style.css" th:href="@{styles/global.style.css}"/>
</head>
<body>
<!--/*/ <th:block th:include="fragments/console-community-nav-fragment :: console-community-nav-fragment"></th:block> /*/-->

    <div class="container">
        <div class="container">
            <h3>Profile Settings</h3>
            <hr />

            <!--<div class="row">-->
                <form th:object="${user}" th:action="@{/update/profile}" method="post">
                    <!--<div class="col-sm-9">-->
                            <div class="form-group">
                                <label id="usernameLbl">Username :</label>
                                <input type="text" id="usernameText" th:field="*{username}" class="form-control" placeholder="Your desired username" />
                            </div>

                            <div class="form-group">
                                <label id="bioLbl">Bio :</label>
                                <textarea class="form-control" id="bioTextArea" th:field="*{bio}" rows="4" placeholder="Tell us a little bit of yourself.."></textarea>
                            </div>

                            <button type="submit" id="updateBtn" class="btn btn-default">Update Profile</button>
                    <!--</div>

                    <div class="col-sm-3">
                        <h5>Profile picture : </h5>
                        <img th:if="${#lists.isEmpty(user.PICTURE_PATH)}" src="images/dev1.png" class="PROFILE_PICTURE img-rounded" />
                        <img th:if="${not #lists.isEmpty(user.PICTURE_PATH)}" src="pictures/jl.github@gmail.com.png" class="PROFILE_PICTURE img-rounded" />-->
                    <!--<form id="fileForm" method="post">
                        <input id="fileChooser" type="file" />
                        <button type="submit" id="uploadBtn" class="btn btn-default">Upload new picture</button>
                    </form>-->
                    <!--<form method="POST" action="/uploadPicture" enctype="multipart/form-data">
                        <input type="file" name="file" /><br/><br/>
                        <input type="submit" class="btn btn-default" value="Submit" />
                    </form>
                    </div>-->
                </form>
            <!--</div>-->

        </div>
    </div>

<!--/*/ <th:block th:include="fragments/scripts-fragment :: scripts-fragment"></th:block> /*/-->
<script type="text/javascript" src="scripts/home-tooltip.js"></script>
<script type="text/javascript" src="scripts/navbar.js"></script>
<!--<script type="text/javascript" src="scripts/user-settings.js"></script>-->
<!--/*/ <th:block th:include="fragments/security-fragment :: security-fragment"></th:block> /*/-->
</body>
</html>