body {
    background-color: white;
    font-family: "Varela", sans-serif;
}

/*.navbar-brand {*/
    /*font-family: "Montserrat", sans-serif;*/
    /*font-size: 30px;*/
    /*margin-top: 7px;*/
/*}*/

/*.navbar-default {*/
    /*font-family: "Montserrat", sans-serif;*/
    /*font-size: 16px;*/
    /*line-height: 14px;*/
/*}*/

/*#navBarItem li.active a, #navBarItem li a:hover {*/
    /*background-color: teal;*/
    /*color: white;*/
/*}*/

/*.nav li a img {*/
    /*background-color: teal;*/
    /*width: 51px;*/
    /*height: 51px;*/
/*}*/

/*.nav .dropdown-menu li h5 {*/
    /*text-align: left;*/
    /*font-family: "Varela", sans-serif;*/
    /*margin-left: 20px;*/
    /*font-size: 14px;*/
/*}*/

/*.nav .dropdown-menu li h6 {*/
    /*margin-top: -5px;*/
    /*text-align: left;*/
    /*font-family: "Varela", sans-serif;*/
    /*margin-left: 20px;*/
    /*font-size: 14px;*/
/*}*/

/*.nav .dropdown-menu hr {*/
    /*margin-top: 8px;*/
    /*margin-bottom: 8px;*/
/*}*/

.titleRow {
    margin-top: 80px;
}

.titleRow h2 {
    font-family: "Montserrat", sans-serif;
}

#askQuestionBtn {
    margin-top: 10px;
    float: right;
    background-color: #00a5a5;
    color: white;
}

#askQuestionBtn:hover {
    background-color: teal;
}

.contentRow {
    margin-top: 25px;
}

.col-sm-1 {
    text-align: center;
}

.col-sm-1 span {
    margin-top: 28px;
    font-size: 56px;
    margin-bottom: 5px;
}

.col-sm-1 span:hover {
    cursor: pointer;
}

.bg-teal {
    color: teal;
}

.content {
    font-size: 18px;
}

.by p, .commentDateAndTime, .addComment p {
    color: #6a737c;
}

.by {
    font-size: 13px;
    float: right;
    margin-right: 10px;
    margin-bottom: 20px;
}

.by a, .by .reputationTooltip {
    margin-left: -20px;
}

.by a, .comment a {
    color: #337ab7;
}

.by a:hover, .comment a:hover {
    color: #40b4ff;
    text-decoration: none;
}

.by img {
    width: 70px;
    height: 40px;
    background-color: teal;
}

.clearRight {
    clear: right;
}

.inline {
    display: inline;
}

textarea {
    resize: none;
    max-width: 80%;
    float: left;
}

.sendComment, .cancelComment {
    right: 0;
    margin-bottom: 25px;
}

.sendComment {
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: #00a5a5;
}

.sendComment:hover {
    background-color: teal;
    color: white;
}

.cancelComment {
    margin-left: 15px;
}

.addComment p {
    cursor: pointer;
}

.endLine {
    margin-top: 30px;
}

.yourAnswer textarea {
    margin-top: 20px;
    max-width: 100%;
    resize: none;
}

.postAnswer {
    margin-top: 30px;
    color: white;
    background-color: #00a5a5;
    margin-bottom: 50px;
}

.postAnswer:hover {
    background-color: teal;
    color: white;
}

@media only screen and (max-width: 767px) {
    .icon-bar {
        margin-top: 6px;
    }

    .navbar-brand {
        margin-top: 0;
    }
}