body {
    background-color: rgba(0, 0, 0, 0.14);
    font-family: "Varela", sans-serif;
}

.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-top: 7px;
}

.navbar-default {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 14px;
}

#navBarItem li.active a, #navBarItem li a:hover {
    background-color: teal;
    color: white;
}

.nav li a img {
    background-color: teal;
    width: 51px;
    height: 51px;
}

.nav .dropdown-menu li h5 {
    text-align: left;
    font-family: "Varela", sans-serif;
    margin-left: 20px;
    font-size: 14px;
}

.nav .dropdown-menu li h6 {
    margin-top: -5px;
    text-align: left;
    font-family: "Varela", sans-serif;
    margin-left: 20px;
    font-size: 14px;
}

.nav .dropdown-menu hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.row {
    margin-top: 100px;
}

label {
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

textarea {
    resize: none;
}

#postQuestion {
     margin: auto;
     display: block;
     margin-top: 25px;
     color: white;
     background-color: #00a5a5;
 }

#postQuestion:hover {
    background-color: teal;
}

@media only screen and (max-width: 767px) {
    .icon-bar {
        margin-top: 6px;
    }

    .navbar-brand {
        margin-top: 0;
    }

    .row {
        margin-top: 65px;
    }
}