body {
    background-color: rgba(0, 0, 0, 0.14);
    font-family: "Varela", sans-serif;
}

.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-top: 7px;
}

.navbar-default {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 14px;
}

#navBarItem li.active a, #navBarItem li a:hover {
    background-color: teal;
    color: white;
}

.nav li a img {
    background-color: teal;
    width: 51px;
    height: 51px;
}

.nav .dropdown-menu li h5 {
    text-align: left;
    font-family: "Varela", sans-serif;
    margin-left: 20px;
    font-size: 14px;
}

.nav .dropdown-menu li h6 {
    margin-top: -5px;
    text-align: left;
    font-family: "Varela", sans-serif;
    margin-left: 20px;
    font-size: 14px;
}

.nav .dropdown-menu hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

h2 {
    margin-top: 120px;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
    color: teal;
}

#users {
    margin-top: 15px;
    background-color: white;
}

#users label {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
}

#users input {
    margin: 30px 0;
}

#users .user {
    float: left;
    margin-left: 20px;
}

.user img {
    width: 120px;
    height: 70px;
    background-color: teal;
}

a {
    color: #337ab7;
}

a:hover {
    color: #40b4ff;
    text-decoration: none;
}

#users .reputationTooltip {
    margin-top: 0;
    color: #6a737c;
}

#users .user a, #users .reputationTooltip {
    margin-left: -20px;
}

.rowMargin {
    margin-top: 20px;
}

.user {
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    .icon-bar {
        margin-top: 6px;
    }

    .navbar-brand {
        margin-top: 0;
    }
}