body {
    background-color: rgba(0, 0, 0, 0.10);
    position: relative;
    background-color: white;
}
/*
.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-top: 7px;
}

.navbar-default {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 14px;
}
*/
#navBarItem li.active a, #navBarItem li a:hover {
    background-color: teal;
    color: white;
}

#sidebar {
    height: 88vh;
    right: 0;
}

#sidebar #noActionSelected {
    margin-top: 40%;
    text-align: center;
}

#sidebar #blockquoteSelected {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    text-align: left;
    font-family: "Varela", sans-serif;
}

#sidebar .sidebarBtn {
    font-family: none;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.5);
}

#sidebar .sidebarBtn:hover {
    color: white;
}

#sidebar h5, #sidebar ul li {
    font-family: "Montserrat", sans-serif;
    text-align: center; !important;
}

#sidebar .subHr {
    background-color: rgba(174, 174, 174, 0.56);
}

#sidebar pre {
    margin-left: -20px;
    margin-right: -20px;
    color: whitesmoke;
    border-color: #009688;
    background-color: #009688;
}

#pageContent {
    margin-right: 38vw; !important;
}

#pageContent .w3-main {
    left: 0 !important;
    width: 100%;
    display: none;
}

#pageContent #openLinksBtn, #pageContent #closeLinksBtn {
    float: left;
    margin-top: 20px;
    background-color: teal;
    color: white;
}

#pageContent #documentation {
    padding: 20px 20px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 38px;
    background-color: teal;
    color: white;
}

#con #mainContent {
    position: fixed;
    height: 88vh;
    width: 47vw;
    left: 15vw;
    overflow: auto;
}

#con #scrollSpy {
    display: block;
}

#con #scrollSpy, #con #mainContent, #sidebar {
    margin-top: 12.5vh;
}

#con ul {
    padding-top: 3vh;
    position: fixed;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #696969;
    height: 88vh;
    width: 14vw;
    overflow: auto;
    padding-bottom: 15px;
}

#introduction:hover, #reference:hover, #classify:hover, #train:hover {
    cursor: pointer;
    color: teal;
}

#introduction, #reference, #classify, #train {
    margin-left: -15px;
    font-size: 16px;
}

#introduction {
    margin-bottom: 15px;
}

#reference {
    margin-bottom: -15px;
}

#con hr {
    border-color: #696969;;
}

#con ul li.active a{
    background-color: transparent;
    color: teal;
    border-radius: 0;
    border-left: solid;
    border-left-color: teal;
}

#con ul li a:hover {
    background-color: transparent;
    color: teal;
}

#con blockquote span {
    font-size: 24px;
    float: right;
    color: #c6c6c6;
}

#con blockquote {
    margin: 10px 0; !important;
    border-color: teal;
    background-color: #f0f0f0;
}

#con blockquote h3 {
    display: inline;
}

#con h1, #con h2, #con h3 {
    font-family: "Montserrat", sans-serif;
}

#con h1, #con h2, #con blockquote h3 {
    font-weight: 600;
}

#con p {
    font-family: "Varela", sans-serif;
    font-size: 18px;
    margin-bottom: 60px;
}

#con h1 {
    margin-top: 30px;
}

#con h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

#con h3 {
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 20px;
}

#con #referenceContent {
    margin-top: 80px;
}

#con blockquote {
    margin-bottom: 30px;
}

#con blockquote:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 128, 0.17);
}

#con #train5 {
    margin-bottom: 60vh;
}

blockquote.active {
    border-color: #f0f0f0;
    background-color: teal;
    color: white;
}

footer {
    margin-top: 150px;
    background-color: #34302d;
    padding: 35px;
    color: white;
}

/* screen size */

@media screen and (max-width: 992px) {
    .w3-sidebar.w3-collapse {
        display: none;
    }

    #con #mainContent {
        width: 85vw !important;
    }
}

@media screen and (max-width: 850px) {
    #pageContent .w3-main {
        display: block;
    }

    #con #scrollSpy {
        display: none;
    }

    #con #mainContent {
        //height: 88vh;
        width: 100vw !important;
        left: 0;
    }
}

@media screen and (max-width: 767px) {
    .icon-bar {
        margin-top: 6px;
    }

    .navbar-brand {
        margin-top: 0;
    }
}

.red-span {
    color: red;
}