.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    /*margin-top: 7px;*/
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important;
    padding-bottom: 10px !important;
    height: 48px;
    line-height: 32px !important;
}

.navbar {
    min-height:48px !important;
}

.navbar-default {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 14px;
}

#navBarItem li.active a, #navBarItem li a:hover {
    background-color: teal;
    color: white;
}

.nav li a img {
    margin-top: -10px;
    background-color: teal;
    width: 35px;
    height: 35px;
}

.nav .dropdown-menu li h5 {
    text-align: left;
    font-family: "Varela", sans-serif;
    margin-left: 20px;
    font-size: 14px;
}

.nav .dropdown-menu li h6 {
    margin-top: -5px;
    text-align: left;
    font-family: "Varela", sans-serif;
    margin-left: 20px;
    font-size: 14px;
}

.nav .dropdown-menu hr {
    margin-top: 8px;
    margin-bottom: 8px;
}
