body {
	background-image: url(../images/bg_main.jpg);
	background-size: 100% 100%;
	margin: 0;
}

.navbar-brand {
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	margin-top: 7px;
}

.navbar-default {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 14px;
}

#navBarItem li.active a, #navBarItem li a:hover {
	background-color: teal;
	color: white;
}

#con {
	margin-top: 210px;
}

#con p {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 28px;
	color: white;
}

#con h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 50px;
	font-weight: 400;
	line-height: 68px;
	color: white;
}

#con .endLine {
	margin-bottom: 120px;
}

.bg-black {
 	background-color: rgba(52, 48, 45, 0.8);
}

#con1 h3 {
	margin-top: 80px;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 28px;
	color: white;
	margin-bottom: 20px;
}

#con1 p {
	font-family: "Varela", sans-serif;
	font-weight: 400;
	font-size: 17px;
	color: white;
}

#con1 .eggplantImg {
	margin-top: 130px;
}

#con1 .strawberryImg {
	margin-top: 60px;
}

#con1 .appleImg {
	margin-top: 220px;
}

#con1 .breadImg {
	margin-top: 70px;
}

#con1 .cardiogramImg {
	margin-top: 150px;
}

#con1 .magnifyingGlassImg {
	margin-left: 130px;
	margin-top: -80px;
}

#con1 .endLine, #con1 .endLine2 {	/* First and Third endLine */
	margin-top: 25px;
	margin-bottom: 70px;
}

#con1 .endLine1 {					/* Second endLine */
	margin-top: 152px;
	margin-bottom: 70px;
}

#con2 h1 {
	margin-top: 150px;
	font-family: "Montserrat", sans-serif;
	font-size: 50px;
	font-weight: 400;
	color: white;
}

#con2 h2 {
	font-family: "Varela", sans-serif;
	font-size: 50px;
	font-weight: 400;
	color: white;
}

#con2 .getStartedBtn {
	margin-top: 20px;
	margin-left: -30px;
	padding: 20px;
	font-family: "Montserrat", sans-serif;
	color: white;
}

#con2 .tryItBtn {
	margin-top: 20px;
	margin-left: 20px;
	padding: 20px 47px;
	font-family: "Montserrat", sans-serif;
	color: white;
}

#con2 .w3-button {
	text-decoration: none;
	background-color: teal;
	border-color: teal;
}

footer {
	margin-top: 150px;
	background-color: #34302d;
	padding: 35px;
	color: white;
}

/* screen size */

@media screen and (max-width: 768px) {
	.icon-bar {
		margin-top: 6px;
	}	
	
	.navbar-brand {
		margin-top: 0;
	}

	#con p {
		margin-top: -70px;
		font-size: 20px;
	}

	#con h2 {
		font-size: 30px;
		line-height: 35px;
	}

	#con .endLine {
		margin-bottom: 80px;
	}

	#con1 .eggplantImg, #con1 .strawberryImg, #con1 .appleImg, #con1 .breadImg {
		display: none;
	}

	#con1 .cardiogramImg {
		margin-top: -20px;
	} 

	#con1 .magnifyingGlassImg {
		margin-bottom: 70px;
	}

	#con1 .endLine1 {
		margin-top: 25px;
	}

	#con2 h1, #con2 h2 {
		font-size: 40px;
	}

	#con2 .getStartedBtn, #con2 .tryItBtn {
		margin-left: 0;
	}
	
	#con2 .w3-button {
		width: 100%;
	}
}